html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font: 14px Helvetica, Arial, sans-serif;
  background: #ffffff;
}

h1 {
  text-align: center;
  color: #fb3c1b;
}

h2 {
  color: #2081e2;
}

th, td {
  padding-right: 40px;
  text-align: left;
  color: black;
}

th {
  font-size: medium;
}

td {
  font-size: small;
}